@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark light;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.vertical-timeline.vertical-timeline-custom-line::before {
  background: rgb(var(--foreground-rgb));
}

.gradient-text {
  @apply bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent;
}

/* Custom styles for navbar blur effect */
@supports (backdrop-filter: blur(0px)) {
  .backdrop-blur-lg {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}